<footer>
  <a href="https://manasas.dev/" rel="me">© 2024 manasas</a>
</footer>

<style lang="scss">
  footer {
    margin-top: 64px;
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
    background-color: #c4427a;
    a {
      color: #fff;
      text-decoration: none;
    }
    @media screen and (max-width: 900px) {
      margin-top: 0;
    }
  }
</style>
