<h2>更新履歴</h2>
<ul>
  <li>2024/11/18: その他の過去絵 3点追加</li>
  <li>2024/11/17: その他の過去絵 5点追加</li>
</ul>

<style lang="scss">
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    margin-bottom: 4px;
    display: flex;
    &::before {
      content: '-';
      display: block;
      margin-right: 12px;
    }
  }
</style>
