<h2>更新履歴</h2>
<ul>
  <li>
    <span class="date">2024/12/14</span>
    <a href="./other">その他の過去絵</a> 4点追加
  </li>
  <li>
    <span class="date">2024/11/18</span>
    <a href="./other">その他の過去絵</a> 3点追加
  </li>
  <li>
    <span class="date">2024/11/17</span>
    <a href="./other">その他の過去絵</a> 5点追加
  </li>
</ul>

<style lang="scss">
  li {
    margin-bottom: 4px;
    display: flex;
    &::before {
      content: '-';
      display: block;
      margin-right: 12px;
    }
    .date {
      margin-right: 24px;
    }
    a {
      margin-right: 8px;
    }
  }
</style>
