<script>
  const anchors = document.querySelectorAll('a[href^="#"]')
  anchors.forEach((anchor) => {
    anchor.addEventListener('click', (event) => {
      event.preventDefault()
      const href = anchor.getAttribute('href')
      scrollToAnchor(href)
    })
  })
  function scrollToAnchor(anchor: string | null) {
    if (!anchor) return
    const target = document.querySelector(anchor)
    if (!target) return
    target.scrollIntoView({ behavior: 'smooth' })
  }
</script>

<h2>カテゴリ</h2>
<ul>
  <li><a href="/seal">あざらし</a></li>
  <li><a href="/other">その他</a></li>
  <li><a href="/fedi">Fediverse</a></li>
</ul>

<style lang="scss">
  ul {
    display: flex;
    column-gap: 24px;
    li {
      margin-bottom: 4px;
      &::before {
        display: block;
        margin-right: 12px;
      }
    }
  }
</style>
