---
import Layout from '../layouts/Layout.astro'
import ImageList from '../components/ImageList.astro'
import TableOfContents from '../components/feature/TableOfContents.astro'
import { fediverseList } from '../images/fedi/list.ts'
---

<Layout title="Fediverse | 北極の らくがき倉庫">
  <TableOfContents />
  <ImageList list={fediverseList} title="Fediverse" id="fedi" />
  <div class="gotop js-gotop">↑</div>
</Layout>
