---
import Layout from '../layouts/Layout.astro'
import ImageList from '../components/ImageList.astro'

const azarashi = await Astro.glob('/src/images/azarashi/*')
const other = await Astro.glob('/src/images/other/*')
---

<script>
  // 画像をクリックすると拡大するようにする
  const images = document.querySelectorAll('img')
  images.forEach((image) => {
    image.addEventListener('click', () => {
      const src = image.getAttribute('src') as string
      // div要素を作成して画像を表示する
      const div = document.createElement('div')
      div.style.position = 'fixed'
      div.style.top = '0'
      div.style.left = '0'
      div.style.width = '100%'
      div.style.height = '100%'
      div.style.backgroundColor = 'rgba(0, 0, 0, 0.8)'
      div.style.zIndex = '1000'
      div.style.cursor = 'zoom-out'
      document.body.style.overflow = 'hidden'

      const img = document.createElement('img')
      img.src = src
      img.style.position = 'fixed'
      img.style.top = '50%'
      img.style.left = '50%'
      img.style.transform = 'translate(-50%, -50%)'
      img.style.maxWidth = '80%'
      img.style.maxHeight = '80%'
      img.style.objectFit = 'contain'

      div.appendChild(img)
      document.body.appendChild(div)

      div.addEventListener('click', () => {
        div.remove()
        document.body.style.overflow = 'scroll'
      })
    })
  })
</script>

<Layout title='Welcome to Astro.'>
  <main>
    らくがき倉庫なんよ
    <ImageList list={azarashi} />
    <ImageList list={other} />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 900px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
