---
import Layout from '../layouts/Layout.astro'
import ImageList from '../components/ImageList.astro'
import Link from '../components/Link.astro'
import { azarashiList } from '../images/azarashi/list.ts'
import { fediverseList } from '../images/fedi/list.ts'
import { otherList } from '../images/other/list.ts'
---

<Layout title="北極の らくがき倉庫">
  <main>
    <div class="buttonArea">
      <Link href="https://manasas.dev/" text="本館" />
      <Link href="https://novel.manasas.dev/" text="小説館" />
    </div>

    <ImageList list={azarashiList} title="あざらし" />
    <ImageList list={otherList} title="その他" />
    <ImageList list={fediverseList} title="Fediverse" />
  </main>
</Layout>

<script>
  const images = document.querySelectorAll('.js-content')
  images.forEach((image) => {
    image.addEventListener('click', () => {
      const div = document.createElement('div')
      div.classList.add('js-image-modal')

      const img = document.createElement('img')
      img.src = image.getAttribute('src') as string
      img.classList.add('js-image-in-modal')

      document.body.style.overflow = 'hidden'
      div.appendChild(img)
      document.body.appendChild(div)

      div.addEventListener('click', () => {
        div.remove()
        document.body.style.overflow = 'scroll'
      })
    })
  })
</script>

<style lang="scss">
  main {
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .buttonArea {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 16px 0;
  }
</style>

<style is:global lang="scss">
  .js-image-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    cursor: zoom-out;
    .js-image-in-modal {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 80%;
      max-height: 80%;
      object-fit: contain;
    }
  }
</style>
