---
import Layout from '../layouts/Layout.astro'
import ImageList from '../components/ImageList.astro'
import TableOfContents from '../components/feature/TableOfContents.astro'
import { otherList } from '../images/other/list.ts'
---

<Layout title="北極の らくがき倉庫">
  <TableOfContents />
  <ImageList list={otherList} title="その他" id="other" />
  <div class="gotop js-gotop">↑</div>
</Layout>
