---
interface Props {
  href: string
  text: string
}

const { href, text } = Astro.props
---

<a href={href} target="_blank">{text}</a>

<style>
  a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 8px 24px;
    background: #d83178;
    width: fit-content;
    border-radius: 12px;
    border: 1px rgba(255, 255, 255, 0.5) solid;
  }
</style>
