---
import { Image } from 'astro:assets'
import headerImage from '../images/header.png'
import Link from '../components/Link.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="まなさすのらくがき倉庫" />
    <meta property="og:site_name" content="北極の らくがき倉庫" />
    <meta property="og:title" content={title} />
    <meta property="og:url" content="https://doodle.manasas.dev" />
    <meta property="og:description" content="まなさすのらくがき倉庫" />
    <!-- <meta property="og:image" content="https://manasas.dev/ogp.png" /> -->
    <title>{title}</title>
  </head>
  <body>
    <header>
      <h1>
        <Image
          src={headerImage}
          alt="北極の らくがき倉庫"
          class="headerImage"
        />
      </h1>
      <div class="buttonArea">
        <Link href="https://manasas.dev/" text="本館" />
        <Link href="https://novel.manasas.dev/" text="小説館" />
      </div>
    </header>
    <slot />
    <footer>
      <a href="https://manasas.dev/" rel="me">© 2024 manasas</a>
    </footer>
  </body>
</html>

<style is:global lang="scss">
  html {
    font-family: system-ui, sans-serif;
    background: #db90b0;
    background-size: 224px;
    caret-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20px;
    line-height: 1.6;
  }
  body {
    margin: 0;
    width: 100%;
  }
  h2 {
    margin: 24px 0 0 0;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1 {
      margin: 0;
      width: fit-content;
      img {
        margin: 1rem 0;
        width: 100%;
        height: auto;
      }
    }
    .buttonArea {
      display: flex;
      justify-content: center;
      gap: 40px;
      margin-bottom: 1.5rem;
    }
  }
  footer {
    width: 100%;
    text-align: center;
    padding: 24px 0;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
</style>
