---
import { Image } from 'astro:assets'
import headerImage from '../images/header.png'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="まなさすのらくがき倉庫" />
    <meta property="og:site_name" content="北極の らくがき倉庫" />
    <meta property="og:title" content={title} />
    <meta property="og:url" content="https://doodle.manasas.dev" />
    <meta property="og:description" content="まなさすのらくがき倉庫" />
    <!-- <meta property="og:image" content="https://manasas.dev/ogp.png" /> -->
    <title>{title}</title>
  </head>
  <body>
    <header>
      <h1>
        <Image
          src={headerImage}
          alt="北極の らくがき倉庫"
          class="headerImage"
        />
      </h1>
    </header>
    <slot />
    <footer>
      <a href="https://manasas.dev/" rel="me">© 2024 manasas</a>
    </footer>
  </body>
</html>

<style is:global lang="scss">
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #f5dbe6;
    background-size: 224px;
    caret-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  body {
    margin: 0;
    width: 900px;
    max-width: calc(100% - 40px * 2);
    padding: 0 40px;
    background: #db90b0;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  h2 {
    margin: 24px 0 0 0;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  header {
    display: flex;
    justify-content: center;
    h1 {
      margin: 0;
      width: fit-content;
      img {
        margin: 0 auto;
        margin-bottom: 16px;
        width: 100%;
        height: auto;
      }
    }
  }
  footer {
    width: 100%;
    text-align: center;
    padding: 24px 0;
    a {
      color: white;
      text-decoration: none;
    }
  }
</style>
